body{

    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 1.5rem;

    color: #ffffff;
    text-align: center;


    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}

h1,h2{
    font-weight: 300;
}