.Card {
    border: 3px solid #000;
    border-radius: 10px;
    overflow: hidden;
}

.Card .Conteudo{
    background-color: #fff;
    color: #000;
}


.Card .Footer {
    background-color:#000;
    color:#fff;
}
